In [9]:
a = [1, 2, 3]

# len() 함수로 리스트에 저장된 데이터의 개수를 얻어온다.

print(len(a))
print('=' * 80)

# append(데이터) 메소드로 리스트이 맨 뒤에 데이터를 추가한다.
print(a)
a.append(4)
print(a)
print('=' * 80)

# insert(인덱스, 데이터) 메소드로 리스트의 특정 인덱스 위치에 데이터를 삽입한다.
a.insert(1, 5)
print(a)
print('=' * 80)

# insert() 메소드와 len() 함수를 사용해서 append() 메소드 효과내기
a.insert(-1, 999)
print(a)
a.insert(6, 777)
print(a)
a.insert(len(a), 333)
print(a)

3
================================================================================
[1, 2, 3]
[1, 2, 3, 4]
================================================================================
[1, 5, 2, 3, 4]
================================================================================
[1, 5, 2, 3, 999, 4]
[1, 5, 2, 3, 999, 4, 777]
[1, 5, 2, 3, 999, 4, 777, 333]

In [12]:
# sort() 메소드로 리스트에 저장된 데이터를 별도의 설정이 없으면 오름차순(문자열은 가나다순)으로 정렬한다.
a = [1, 5, 2, 3, 6, 4]
print(a)
a.sort()
print(a)
print('=' * 80)

b = ['d', 'b', 'a', 'c']
print(b)
b.sort()
print(b)

c = ['홍길동', '임꺽정', '장길산', '일지매']
print(c)
c.sort()
print(c)
print('=' * 80)

d = ['1', '010', '999', '50']
print(d)
d.sort()
print(d)
print('=' * 80)

[1, 5, 2, 3, 6, 4]
[1, 2, 3, 4, 5, 6]
================================================================================
['d', 'b', 'a', 'c']
['a', 'b', 'c', 'd']
['홍길동', '임꺽정', '장길산', '일지매']
['일지매', '임꺽정', '장길산', '홍길동']
================================================================================
['1', '010', '999', '50']
['010', '1', '50', '999']
================================================================================

In [13]:
# sort() 메소드에 reverse=True 옵션을 지정하면 내림차순(문자열은 다나가순)으로 정렬한다.
a = [1, 5, 2, 3, 6, 4]
print(a)
a.sort(reverse=True)
print(a)
print('=' * 80)

b = ['d', 'b', 'a', 'c']
print(b)
b.sort(reverse=True)
print(b)

c = ['홍길동', '임꺽정', '장길산', '일지매']
print(c)
c.sort(reverse=True)
print(c)
print('=' * 80)

d = ['1', '010', '999', '50']
print(d)
d.sort(reverse=True)
print(d)
print('=' * 80)

[1, 5, 2, 3, 6, 4]
[6, 5, 4, 3, 2, 1]
================================================================================
['d', 'b', 'a', 'c']
['d', 'c', 'b', 'a']
['홍길동', '임꺽정', '장길산', '일지매']
['홍길동', '장길산', '임꺽정', '일지매']
================================================================================
['1', '010', '999', '50']
['999', '50', '1', '010']
================================================================================

In [14]:
# reverse=True 옵션이 기억나지 않으면 오름차순으로 정렬하고 reverse() 메소드로 결과를 뒤집으면 된다.
a = [1, 5, 2, 3, 6, 4]
print(a)
a.sort()
print(a)
a.reverse()
print(a)

[1, 5, 2, 3, 6, 4]
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [15]:
# reverse=True 옵션도 기억나지 않고, reverse() 메소드도 기억나지 않는다면 [::-1]로 슬라이싱 하면 된다.
a = [1, 5, 2, 3, 6, 4]
print(a)
a.sort()
print(a)
a = a[::-1]
print(a)

[1, 5, 2, 3, 6, 4]
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [16]:
# 정렬할 데이터가 저장된 리스트에 2가지 이상의 데이터 타입이 존재하면 에러가 발생된다.
a = [1, 'a', 2, 'b']
a.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [19]:
# sorted() 함수를 사용해도 리스트에 저장된 데이터의 정렬이 가능하다.
# sort() 메소드와 sorted() 함수의 차이점은 sort() 메소드는 메소드가 실행되는 리스트의 내용이 수정되고, 
# sorted() 함수는 함수가 실행된 결과를 리턴하므로 함수가 실행되는 리스트의 내용이 수정되지 않는다.
a = [1, 5, 2, 3, 6, 4]
print(a)
sorted(a)
print(a)
a = sorted(a)
print(a)
a = sorted(a, reverse=True)
print(a)

[1, 5, 2, 3, 6, 4]
[1, 5, 2, 3, 6, 4]
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [21]:
# count() 메소드로 리스트의 데이터 요소 중에서 특정 데이터의 출현 횟수(개수)를 얻어올 수 있다.
a = [1, 2, 3, 1, 3, 1, 4, 1, 5]
print(a.count(1))
print(a.count(6))

4
0

In [22]:
# index() 메소드로 리스트의 데이터 요소 중에서 특정 데이터의 출현 횟수(개수)를 얻어올 수 있다.
a = [1, 2, 3, 1, 3, 1, 4, 1, 5]
print(a.index(3))
# 인수로 지정한 데이터가 리스트에 없으면 에러가 발생된다.
print(a.index(6)) # 에러

2

ValueError: 6 is not in list

In [25]:
# remove() 메소드로 인수로 지정한 첫번째 데이터를 리스트에서 제거한다.
a = [1, 2, 3, 4, 5, 3]
print(a)
a.remove(3) # 인수로 지정한 데이터가 리스트에 여러개 있다면, 맨 처음 데이터가 제거된다.
print(a)
a.remove(3) # 한번 더 실행해야 나머지 3이 제거된다.
print(a)
a.remove(3) # 에러 => 위에 remove에서 인수가 모두 지워져 list에서 지워졌기 때문에 데이터가 존재하지 않은 상태에서 remove() 메소드를 실행했기 때문
print(a)

[1, 2, 3, 4, 5, 3]
[1, 2, 4, 5, 3]
[1, 2, 4, 5]

ValueError: list.remove(x): x not in list

In [28]:
# pop() 메소드는 별도의 설정이 없으면 리스트의 맨 마지막 데이터를 제거한다.
a = [1, 2, 3, 4, 5, 3]
print(a)
a.pop()
print(a)
a.pop()
print(a)
print('=' * 80)

# pop() 메소드에 삭제할 인덱스를 지정하면 지정한 인덱스 위치의 데이터가 제거된다.
a.pop(1)
print(a)
a.pop(3)
print(a) # 에러, 삭제하라고 지정한 인덱스가 리스트의 범위를 벗어나면 에러가 발생된다.

[1, 2, 3, 4, 5, 3]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
================================================================================
[1, 3, 4]

In [30]:
# remove() 메소드는 리스트의 데이터를 제거만하지만, pop() 메소드는 데이터를 제거하기 전에 제거하려는 데이터를 얻어온다.
a = [1, 2, 3, 4, 5, 3]
print(a)
a.remove(3)
print(a)
a.pop(3) # [0,1,2,3번째 => 5]
print(a)

[1, 2, 3, 4, 5, 3]
[1, 2, 4, 5, 3]
[1, 2, 4, 3]

두 기억장소에 저장된 데이터 교환하기

In [41]:
a = 3
b = 4
c = 0
print(f'a = {a}, b = {b}') # a = 3, b = 4

# 모든 언어에서 공통적으로 사용할 수 있는 방법
c = a
a = b
b = c
print(f'a = {a}, b = {b}') # a = 4, b = 3 / 값 교환

# 파이썬에서만 사용할 수 있는 방법 - 리스트 사용
[a, b] = [b, a]
print(f'a = {a}, b = {b}') # a = 3, b = 4 / 값 교환

# 파이썬에서만 사용할 수 있는 방법 - 튜플 사용
(a, b) = (b, a)
print(f'a = {a}, b = {b}') # a = 4, b = 3 / 값 교환

# 데이터를 ','를 찍어서 나열하면 튜플로 인식한다.
a, b = b, a
print(f'a = {a}, b = {b}') # a = 3, b = 4 / 값 교환

a = 3, b = 4
a = 4, b = 3
a = 3, b = 4
a = 4, b = 3
a = 3, b = 4